<div class="container">
    <mat-card>
        <h2 style="text-align: center">Single file upload</h2>
        <div style="text-align: center;">
            <form>
                <mat-form-field>
                    <mat-label *ngIf="files; else newFile">{{files.name}}</mat-label>
                    <ng-template #newFile>
                        <mat-label>Choose file</mat-label>
                    </ng-template>
                    <input matInput disabled>
                    <button mat-icon-button matSuffix (click)="singleInput.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <input hidden (change)="selectImage($event)" #singleInput type="file" id="file">
                </mat-form-field>
                <br>
                <div>
                    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Upload</button>
                </div>

                <ng-template [ngIf]="displaySingleFile" [ngIfElse]="elseSingleImageTemplate">
                    <div>Images Uploaded</div>
                    <mat-table [dataSource]="displaySingleFileArray">
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-icon-button color="primary" matTooltip="Download"
                                    (click)="onFileDownload(element)">
                                    <mat-icon>download</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" matTooltip="Delete"
                                    (click)="onFileDelete(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumnsTable1; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsTable1;"></mat-row>
                    </mat-table>

                </ng-template>

                <ng-template #elseSingleImageTemplate>
                    <div>Upload a file</div>
                </ng-template>

            </form>
        </div>
    </mat-card>
    <br>
    <mat-card>
        <h2 style="text-align: center">Multiple file upload</h2>
        <div style="text-align: center">
            <form>
                <mat-form-field>
                    <mat-label *ngIf="multipleFiles.length > 0; else newFile2"><span
                            *ngFor="let file of multipleFiles">{{file['name']}}</span>
                    </mat-label>
                    <ng-template #newFile2>
                        <mat-label>Choose file</mat-label>
                    </ng-template>
                    <input matInput disabled>
                    <button mat-icon-button matSuffix (click)="multipleInput.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <input hidden (change)="selectMultipleImage($event)" #multipleInput type="file" multiple id="file">
                </mat-form-field>
                <br>
                <div>
                    <button mat-raised-button color="primary" type="submit" (click)="onMultipleSubmit()">
                        Multiple Upload
                    </button>
                </div>
            </form>
            <ng-template [ngIf]="displayMultipleFiles" [ngIfElse]="elseMultipleImagesTemplate">
                <div>Images Uploaded</div>
                <mat-table [dataSource]="displayMultipleFileArray">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" matTooltip="Download"
                                (click)="onFileDownload(element)">
                                <mat-icon>download</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" matTooltip="Delete" (click)="onFileDelete(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumnsTable2; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsTable2;"></mat-row>
                </mat-table>
            </ng-template>

            <ng-template #elseMultipleImagesTemplate>
                <br>
                <div>Upload some files</div>
            </ng-template>
        </div>
    </mat-card>
</div>